/*naam:  Doruk Artuc
*/
table ,thead, td {
    border: 1px solid black;
    text-align: center;
}
table thead{
    color: white;
    background-color: #0090e3;
    font-size: 20pt;
    font-family: serif;
    font-style: italic;
    text-align: center;
}
tbody{
    font-size: 18pt;
    font-family: monospace;
}
td{
    padding: 5px 20px;
}
tbody td{
    text-align: right;
}
tbody tr:nth-child(odd){
    background-color: white;
}
tbody tr:nth-child(even){
    background-color: #f3f5cb;
}
td[rowspan]{
    background-color: #f3f5cb;
}

